workflows/workflow-b-new-referral.json
{
  "name": "Referral CRM - POST New Referral",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "referral-new",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "referral-new"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1MOeVop7Ci7F117GjUe7rlmq8aMx8jgmByFooavORUCM/values/Users!A:E",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {}
      },
      "name": "Read Users",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [260, 300],
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "ijhDM45kmOOEzqzs", "name": "Google Sheets account" }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1MOeVop7Ci7F117GjUe7rlmq8aMx8jgmByFooavORUCM/values/Referrals!A:A",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {}
      },
      "name": "Read Referral IDs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300],
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "ijhDM45kmOOEzqzs", "name": "Google Sheets account" }
      }
    },
    {
      "parameters": {
        "jsCode": "const body = $('Webhook').first().json.body;\nconst usersData = $('Read Users').first().json;\nconst idsData = $('Read Referral IDs').first().json;\n\n// Calcular siguiente ID\nconst idRows = (idsData.values || []).slice(1);\nlet maxId = 0;\nfor (const row of idRows) {\n  const id = parseInt(row[0]);\n  if (!isNaN(id) && id > maxId) maxId = id;\n}\nconst newId = maxId + 1;\n\n// Buscar nombre del owner\nconst userRows = (usersData.values || []).slice(1);\nlet ownerNombre = '';\nfor (const row of userRows) {\n  if (row[1] === body.ownerEmail) {\n    ownerNombre = row[0];\n    break;\n  }\n}\n\nconst timestamp = new Date().toISOString();\n\nreturn [{ json: {\n  newId,\n  ownerNombre,\n  timestamp,\n  body,\n  row: [\n    newId,\n    timestamp,\n    body.empresa || '',\n    body.tipoReferido || '',\n    body.nombre || '',\n    body.empresaReferido || '',\n    body.email || '',\n    body.telefono || '',\n    body.pais || '',\n    body.linkedin || '',\n    body.objetivo || '',\n    body.valorPotencial || '',\n    body.ownerEmail || '',\n    ownerNombre,\n    body.tuEmail || '',\n    body.tuNombre || '',\n    'Nuevo',\n    timestamp,\n    '',\n    '',\n    '',\n    '',\n    body.notas || '',\n    '0'\n  ],\n  activityRow: [\n    timestamp,\n    newId,\n    body.tuNombre + ' (' + body.tuEmail + ')',\n    '',\n    'Nuevo',\n    'Referido registrado via landing page',\n    ''\n  ]\n}}];"
      },
      "name": "Process Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1MOeVop7Ci7F117GjUe7rlmq8aMx8jgmByFooavORUCM/values/Referrals!A:X:append?valueInputOption=USER_ENTERED",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"values\": [{{ JSON.stringify($json.row) }}] }",
        "options": {}
      },
      "name": "Append Referral",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 300],
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "ijhDM45kmOOEzqzs", "name": "Google Sheets account" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1MOeVop7Ci7F117GjUe7rlmq8aMx8jgmByFooavORUCM/values/Activity%20Log!A:G:append?valueInputOption=USER_ENTERED",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"values\": [{{ JSON.stringify($('Process Data').first().json.activityRow) }}] }",
        "options": {}
      },
      "name": "Append Activity Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1140, 300],
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "ijhDM45kmOOEzqzs", "name": "Google Sheets account" }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, id: $('Process Data').first().json.newId, ownerNombre: $('Process Data').first().json.ownerNombre }) }}",
        "options": {}
      },
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1360, 300]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Process Data').first().json.body.ownerEmail }}",
        "subject": "=Nuevo Referido Asignado - #{{ $('Process Data').first().json.newId }} {{ $('Process Data').first().json.body.nombre }}",
        "message": "=<div style='font-family:Arial,sans-serif;max-width:650px;margin:0 auto'><div style='background:#123840;color:#fff;padding:20px 24px;border-radius:12px 12px 0 0'><h1 style='margin:0;font-size:20px'>Nuevo Referido Asignado a Ti</h1><p style='margin:4px 0 0;opacity:0.8;font-size:14px'>ID #{{ $('Process Data').first().json.newId }} - Contactar en las proximas 72 horas</p></div><div style='padding:20px 24px;background:#f0faf5'><table style='width:100%;border-collapse:collapse;font-size:14px'><tr><td style='padding:8px;font-weight:bold;color:#123840;width:40%'>Nombre</td><td style='padding:8px'>{{ $('Process Data').first().json.body.nombre }}</td></tr><tr style='background:#fff'><td style='padding:8px;font-weight:bold;color:#123840'>Empresa donde trabaja</td><td style='padding:8px'>{{ $('Process Data').first().json.body.empresaReferido || 'No especificada' }}</td></tr><tr><td style='padding:8px;font-weight:bold;color:#123840'>Email</td><td style='padding:8px'>{{ $('Process Data').first().json.body.email }}</td></tr><tr style='background:#fff'><td style='padding:8px;font-weight:bold;color:#123840'>Telefono</td><td style='padding:8px'>{{ $('Process Data').first().json.body.telefono || 'No proporcionado' }}</td></tr><tr><td style='padding:8px;font-weight:bold;color:#123840'>Empresa del Grupo</td><td style='padding:8px'>{{ $('Process Data').first().json.body.empresa }}</td></tr><tr style='background:#fff'><td style='padding:8px;font-weight:bold;color:#123840'>Tipo de Referido</td><td style='padding:8px'>{{ $('Process Data').first().json.body.tipoReferido }}</td></tr><tr><td style='padding:8px;font-weight:bold;color:#123840'>Pais</td><td style='padding:8px'>{{ $('Process Data').first().json.body.pais }}</td></tr><tr style='background:#fff'><td style='padding:8px;font-weight:bold;color:#123840'>LinkedIn</td><td style='padding:8px'>{{ $('Process Data').first().json.body.linkedin || 'No proporcionado' }}</td></tr><tr><td style='padding:8px;font-weight:bold;color:#123840'>Objetivo</td><td style='padding:8px'>{{ $('Process Data').first().json.body.objetivo }}</td></tr><tr style='background:#fff'><td style='padding:8px;font-weight:bold;color:#123840'>Valor Potencial</td><td style='padding:8px'>${{ $('Process Data').first().json.body.valorPotencial || 'No estimado' }} USD</td></tr><tr><td style='padding:8px;font-weight:bold;color:#123840'>Notas</td><td style='padding:8px'>{{ $('Process Data').first().json.body.notas || 'Ninguna' }}</td></tr><tr style='background:#fff'><td style='padding:8px;font-weight:bold;color:#123840'>Registrado por</td><td style='padding:8px'>{{ $('Process Data').first().json.body.tuNombre }} ({{ $('Process Data').first().json.body.tuEmail }})</td></tr></table></div><div style='padding:20px 24px;background:#fff;border-left:4px solid #47a179'><h3 style='margin:0 0 12px;color:#123840;font-size:16px'>Tips para el Primer Contacto</h3><ol style='margin:0;padding:0 0 0 20px;font-size:13px;color:#333;line-height:1.8'><li><strong>Contacta en las primeras 24-48 horas.</strong> La rapidez demuestra profesionalismo y aumenta la conversion.</li><li><strong>Investiga antes de llamar.</strong> Revisa su LinkedIn, empresa y contexto para personalizar tu mensaje.</li><li><strong>Empieza con preguntas abiertas.</strong> Ej: \"Que desafios enfrentas actualmente en...?\" Escucha mas de lo que hablas.</li><li><strong>Conecta su necesidad con la solucion.</strong> No vendas el producto, resuelve su problema especifico.</li><li><strong>Cierra con un paso concreto.</strong> Ej: \"Te parece si agendamos 20 min para mostrarte como funciona?\"</li></ol></div><div style='padding:20px 24px;background:#f9f9f9'><h3 style='margin:0 0 12px;color:#123840;font-size:16px'>Manejo de Objeciones Comunes</h3><table style='width:100%;border-collapse:collapse;font-size:13px'><tr><td style='padding:10px;background:#fdf0ef;border-radius:6px;vertical-align:top;width:35%'><strong style='color:#e74c3c'>\"No tengo tiempo\"</strong></td><td style='padding:10px;vertical-align:top'>\"Entiendo perfectamente. Por eso quiero ser breve y directo. Solo necesito 15 minutos para mostrarte como esto te puede ahorrar tiempo a largo plazo.\"</td></tr><tr><td style='padding:10px;background:#fdf0ef;border-radius:6px;vertical-align:top'><strong style='color:#e74c3c'>\"Ya tengo proveedor\"</strong></td><td style='padding:10px;vertical-align:top'>\"Excelente. No busco reemplazarlo, sino mostrarte una opcion complementaria que varios clientes en tu sector ya estan usando con muy buenos resultados.\"</td></tr><tr><td style='padding:10px;background:#fdf0ef;border-radius:6px;vertical-align:top'><strong style='color:#e74c3c'>\"Es muy costoso\"</strong></td><td style='padding:10px;vertical-align:top'>\"Lo entiendo. Muchos clientes lo veian asi al principio, pero al ver el retorno en tiempo y resultados, lo consideran una inversion. Te muestro los numeros?\"</td></tr><tr><td style='padding:10px;background:#fdf0ef;border-radius:6px;vertical-align:top'><strong style='color:#e74c3c'>\"Dejame pensarlo\"</strong></td><td style='padding:10px;vertical-align:top'>\"Claro, es una decision importante. Que informacion adicional necesitas para decidir? Te la preparo y la revisamos juntos.\"</td></tr></table></div><div style='padding:20px 24px;background:#fff'><h3 style='margin:0 0 12px;color:#123840;font-size:16px'>Estrategia de Seguimiento</h3><ul style='margin:0;padding:0 0 0 20px;font-size:13px;color:#333;line-height:1.8'><li><strong>Dia 1-2:</strong> Primer contacto (llamada o email personalizado)</li><li><strong>Dia 3-4:</strong> Si no contesto, segundo intento por otro canal</li><li><strong>Dia 7:</strong> Enviar contenido de valor (caso de exito, articulo relevante)</li><li><strong>Dia 14:</strong> Ultimo contacto con mensaje de valor y puerta abierta</li></ul></div><div style='padding:16px 24px;background:#123840;border-radius:0 0 12px 12px;text-align:center'><p style='margin:0;font-size:12px;color:rgba(255,255,255,0.7)'>Green Hub Referral CRM - Cada referido es una oportunidad</p></div></div>",
        "options": {}
      },
      "name": "Email Owner",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1580, 200],
      "credentials": {
        "gmailOAuth2": { "id": "34ae23XNAsWrUf5I", "name": "Gmail account" }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Process Data').first().json.body.tuEmail }}",
        "subject": "=Confirmacion - Referido #{{ $('Process Data').first().json.newId }} registrado exitosamente",
        "message": "=<div style='font-family:Arial,sans-serif;max-width:600px;margin:0 auto'><div style='background:#123840;color:#fff;padding:20px 24px;border-radius:12px 12px 0 0'><h1 style='margin:0;font-size:18px'>Referido Registrado Exitosamente</h1></div><div style='padding:20px 24px'><p style='font-size:15px;color:#333'>Hola {{ $('Process Data').first().json.body.tuNombre }},</p><p style='font-size:14px;color:#555;line-height:1.6'>Tu referido fue registrado correctamente en el sistema.</p><table style='width:100%;border-collapse:collapse;font-size:14px;margin:16px 0'><tr style='background:#f0faf5'><td style='padding:10px;font-weight:bold;color:#123840'>ID del Referido</td><td style='padding:10px'><strong>#{{ $('Process Data').first().json.newId }}</strong></td></tr><tr><td style='padding:10px;font-weight:bold;color:#123840'>Nombre</td><td style='padding:10px'>{{ $('Process Data').first().json.body.nombre }}</td></tr><tr style='background:#f0faf5'><td style='padding:10px;font-weight:bold;color:#123840'>Asignado a</td><td style='padding:10px'>{{ $('Process Data').first().json.ownerNombre }} ({{ $('Process Data').first().json.body.ownerEmail }})</td></tr></table><p style='font-size:13px;color:#555;line-height:1.6'>El responsable ya fue notificado y dara seguimiento. Guarda el <strong>ID #{{ $('Process Data').first().json.newId }}</strong> para consultar o actualizar el estado del referido.</p></div><div style='padding:16px 24px;background:#f5f5f5;border-radius:0 0 12px 12px;text-align:center'><p style='margin:0;font-size:11px;color:#999'>Green Hub Referral CRM</p></div></div>",
        "options": {}
      },
      "name": "Email Registrador",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1580, 400],
      "credentials": {
        "gmailOAuth2": { "id": "34ae23XNAsWrUf5I", "name": "Gmail account" }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Process Data').first().json.body.email }}",
        "subject": "=Green Hub - Hemos recibido tu referencia",
        "message": "=<div style='font-family:Arial,sans-serif;max-width:600px;margin:0 auto'><div style='background:#123840;color:#fff;padding:20px 24px;border-radius:12px 12px 0 0'><h1 style='margin:0;font-size:18px'>Bienvenido al Ecosistema Green Hub</h1></div><div style='padding:24px'><p style='font-size:15px;color:#333;margin:0 0 16px'>Hola {{ $('Process Data').first().json.body.nombre }},</p><p style='font-size:14px;color:#555;line-height:1.7'>Queremos confirmarte que hemos recibido tu informacion a traves de nuestro programa de referidos.</p><p style='font-size:14px;color:#555;line-height:1.7'>Un miembro de nuestro equipo se pondra en contacto contigo <strong>en las proximas 48 horas</strong> para conversar sobre como podemos trabajar juntos y explorar las mejores opciones para ti.</p><div style='background:#f0faf5;border-left:4px solid #47a179;padding:16px;margin:20px 0;border-radius:0 8px 8px 0'><p style='margin:0;font-size:14px;color:#123840'><strong>Mientras tanto, si tienes alguna pregunta o necesitas algo urgente, simplemente responde a este correo.</strong> Estamos aqui para ayudarte.</p></div><p style='font-size:14px;color:#555'>Cordialmente,</p><p style='font-size:14px;color:#123840;font-weight:bold'>Equipo Green Hub</p></div><div style='padding:16px 24px;background:#f5f5f5;border-radius:0 0 12px 12px;text-align:center'><p style='margin:0;font-size:11px;color:#999'>Green Hub - Grupo Empresarial</p></div></div>",
        "options": {}
      },
      "name": "Email Referido",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1580, 600],
      "credentials": {
        "gmailOAuth2": { "id": "34ae23XNAsWrUf5I", "name": "Gmail account" }
      }
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Read Users", "type": "main", "index": 0 }]] },
    "Read Users": { "main": [[{ "node": "Read Referral IDs", "type": "main", "index": 0 }]] },
    "Read Referral IDs": { "main": [[{ "node": "Process Data", "type": "main", "index": 0 }]] },
    "Process Data": { "main": [[{ "node": "Append Referral", "type": "main", "index": 0 }]] },
    "Append Referral": { "main": [[{ "node": "Append Activity Log", "type": "main", "index": 0 }]] },
    "Append Activity Log": { "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]] },
    "Respond OK": { "main": [[{ "node": "Email Owner", "type": "main", "index": 0 }, { "node": "Email Registrador", "type": "main", "index": 0 }, { "node": "Email Referido", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
