workflows/workflow-c-update-referral.json
{
  "name": "Referral CRM - POST Update Referral",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "referral-update",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "referral-update"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1MOeVop7Ci7F117GjUe7rlmq8aMx8jgmByFooavORUCM/values/Referrals!A:X",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {}
      },
      "name": "Read Referrals",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [260, 300],
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "ijhDM45kmOOEzqzs", "name": "Google Sheets account" }
      }
    },
    {
      "parameters": {
        "jsCode": "const body = $('Webhook').first().json.body;\nconst data = $input.first().json;\nconst rows = data.values || [];\nif (rows.length < 2) return [{ json: { found: false, error: 'No hay referidos registrados' } }];\n\nconst targetId = parseInt(body.referralId);\nif (isNaN(targetId)) return [{ json: { found: false, error: 'ID invalido' } }];\n\n// Buscar fila por ID (columna A)\nlet rowIndex = -1;\nlet existingRow = null;\nfor (let i = 1; i < rows.length; i++) {\n  if (parseInt(rows[i][0]) === targetId) {\n    rowIndex = i + 1; // 1-indexed for Sheets API\n    existingRow = rows[i];\n    break;\n  }\n}\n\nif (rowIndex === -1) return [{ json: { found: false, error: 'Referido #' + targetId + ' no encontrado' } }];\n\nconst timestamp = new Date().toISOString();\nconst oldEtapa = existingRow[16] || 'Nuevo';\nconst newEtapa = body.nuevaEtapa || oldEtapa;\nconst stageChanged = oldEtapa !== newEtapa;\nconst registradorEmail = existingRow[14] || '';\nconst registradorNombre = existingRow[15] || '';\nconst referidoNombre = existingRow[4] || '';\nconst referidoEmail = existingRow[6] || '';\n\n// Preparar valores actualizados (columnas Q a X = indices 16-23)\nconst updatedRow = [...existingRow];\nupdatedRow[16] = newEtapa; // Etapa\nupdatedRow[17] = timestamp; // Ultima Actualizacion\nupdatedRow[18] = body.proximoPaso || existingRow[18] || ''; // Proximo Paso\nupdatedRow[19] = body.fechaFollowUp || existingRow[19] || ''; // Fecha Follow-up\nif (newEtapa === 'Cerrado-Ganado') updatedRow[20] = 'Ganado';\nelse if (newEtapa === 'Cerrado-Perdido') updatedRow[20] = 'Perdido';\nupdatedRow[21] = body.razonCierre || existingRow[21] || ''; // Razon Cierre\nif (body.notas) updatedRow[22] = (existingRow[22] || '') + '\\n[' + timestamp.split('T')[0] + '] ' + body.notas;\nupdatedRow[23] = '0'; // Reset dias sin update\n\n// Campos para archivado de cerrados\nconst isClosed = (newEtapa === 'Cerrado-Ganado' || newEtapa === 'Cerrado-Perdido');\nconst targetSheet = newEtapa === 'Cerrado-Ganado' ? 'Exitosos' : (newEtapa === 'Cerrado-Perdido' ? 'Fracasos' : '');\nconst rowIndex0 = rowIndex - 1; // 0-indexed para deleteDimension API\n\nreturn [{ json: {\n  found: true,\n  targetId,\n  rowIndex,\n  stageChanged,\n  oldEtapa,\n  newEtapa,\n  registradorEmail,\n  registradorNombre,\n  referidoNombre,\n  referidoEmail,\n  updatedRow,\n  isClosed,\n  targetSheet,\n  rowIndex0,\n  activityRow: [\n    timestamp,\n    targetId,\n    'Via landing page',\n    oldEtapa,\n    newEtapa,\n    body.notas || '',\n    body.fechaFollowUp || ''\n  ]\n}}];"
      },
      "name": "Find and Process",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            { "value1": "={{ $json.found }}", "value2": true }
          ]
        }
      },
      "name": "Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [700, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/1MOeVop7Ci7F117GjUe7rlmq8aMx8jgmByFooavORUCM/values/Referrals!A{{ $json.rowIndex }}:X{{ $json.rowIndex }}?valueInputOption=USER_ENTERED",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"values\": [{{ JSON.stringify($('Find and Process').first().json.updatedRow) }}] }",
        "options": {}
      },
      "name": "Update Row",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 200],
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "ijhDM45kmOOEzqzs", "name": "Google Sheets account" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1MOeVop7Ci7F117GjUe7rlmq8aMx8jgmByFooavORUCM/values/Activity%20Log!A:G:append?valueInputOption=USER_ENTERED",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"values\": [{{ JSON.stringify($('Find and Process').first().json.activityRow) }}] }",
        "options": {}
      },
      "name": "Append Activity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1140, 200],
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "ijhDM45kmOOEzqzs", "name": "Google Sheets account" }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            { "value1": "={{ $('Find and Process').first().json.isClosed }}", "value2": true }
          ]
        }
      },
      "name": "Is Closed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1360, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/1MOeVop7Ci7F117GjUe7rlmq8aMx8jgmByFooavORUCM/values/{{ $('Find and Process').first().json.targetSheet }}!A:X:append?valueInputOption=USER_ENTERED",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"values\": [{{ JSON.stringify($('Find and Process').first().json.updatedRow) }}] }",
        "options": {}
      },
      "name": "Append to Archive",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1580, 100],
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "ijhDM45kmOOEzqzs", "name": "Google Sheets account" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1MOeVop7Ci7F117GjUe7rlmq8aMx8jgmByFooavORUCM:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"requests\": [{ \"deleteDimension\": { \"range\": { \"sheetId\": 0, \"dimension\": \"ROWS\", \"startIndex\": {{ $('Find and Process').first().json.rowIndex0 }}, \"endIndex\": {{ $('Find and Process').first().json.rowIndex0 + 1 }} } } }] }",
        "options": {}
      },
      "name": "Delete from Referrals",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1800, 100],
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "ijhDM45kmOOEzqzs", "name": "Google Sheets account" }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, id: $('Find and Process').first().json.targetId }) }}",
        "options": {}
      },
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2020, 200]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            { "value1": "={{ $('Find and Process').first().json.stageChanged }}", "value2": true }
          ]
        }
      },
      "name": "Stage Changed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2240, 200]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Find and Process').first().json.registradorEmail }}",
        "subject": "=Referido #{{ $('Find and Process').first().json.targetId }} actualizado: {{ $('Find and Process').first().json.oldEtapa }} → {{ $('Find and Process').first().json.newEtapa }}",
        "message": "=<div style='font-family:Arial,sans-serif;max-width:600px;margin:0 auto'><div style='background:#123840;color:#fff;padding:20px 24px;border-radius:12px 12px 0 0'><h1 style='margin:0;font-size:18px'>Actualizacion de tu Referido</h1></div><div style='padding:20px 24px'><table style='width:100%;border-collapse:collapse;font-size:14px'><tr style='background:#f0faf5'><td style='padding:10px;font-weight:bold;color:#123840'>ID</td><td style='padding:10px'>#{{ $('Find and Process').first().json.targetId }}</td></tr><tr><td style='padding:10px;font-weight:bold;color:#123840'>Referido</td><td style='padding:10px'>{{ $('Find and Process').first().json.referidoNombre }}</td></tr><tr style='background:#f0faf5'><td style='padding:10px;font-weight:bold;color:#123840'>Etapa anterior</td><td style='padding:10px'>{{ $('Find and Process').first().json.oldEtapa }}</td></tr><tr><td style='padding:10px;font-weight:bold;color:#123840'>Nueva etapa</td><td style='padding:10px;font-weight:bold;color:#47a179'>{{ $('Find and Process').first().json.newEtapa }}</td></tr></table></div><div style='padding:16px 24px;background:#f5f5f5;border-radius:0 0 12px 12px;text-align:center'><p style='margin:0;font-size:11px;color:#999'>Green Hub Referral CRM</p></div></div>",
        "options": {}
      },
      "name": "Email Registrador",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [2460, 100],
      "credentials": {
        "gmailOAuth2": { "id": "34ae23XNAsWrUf5I", "name": "Gmail account" }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Find and Process').first().json.referidoEmail }}",
        "subject": "=Green Hub - Actualizacion sobre tu proceso",
        "message": "=<div style='font-family:Arial,sans-serif;max-width:600px;margin:0 auto'><div style='background:#123840;color:#fff;padding:20px 24px;border-radius:12px 12px 0 0'><h1 style='margin:0;font-size:18px'>Actualizacion de tu Proceso</h1></div><div style='padding:24px'><p style='font-size:15px;color:#333;margin:0 0 16px'>Hola {{ $('Find and Process').first().json.referidoNombre }},</p><p style='font-size:14px;color:#555;line-height:1.7'>Queremos informarte que hay novedades en tu proceso con <strong>Green Hub</strong>.</p><div style='background:#f0faf5;border-left:4px solid #47a179;padding:16px;margin:20px 0;border-radius:0 8px 8px 0'><p style='margin:0;font-size:15px;color:#123840'><strong>Estado actual:</strong> {{ $('Find and Process').first().json.newEtapa }}</p></div><p style='font-size:14px;color:#555;line-height:1.7'>Nuestro equipo sigue trabajando para ofrecerte la mejor experiencia. Si tienes alguna pregunta o necesitas informacion adicional, responde directamente a este correo.</p><p style='font-size:14px;color:#555;margin-top:20px'>Cordialmente,</p><p style='font-size:14px;color:#123840;font-weight:bold'>Equipo Green Hub</p></div><div style='padding:16px 24px;background:#f5f5f5;border-radius:0 0 12px 12px;text-align:center'><p style='margin:0;font-size:11px;color:#999'>Green Hub - Grupo Empresarial</p></div></div>",
        "options": {}
      },
      "name": "Email Referido",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [2460, 300],
      "credentials": {
        "gmailOAuth2": { "id": "34ae23XNAsWrUf5I", "name": "Gmail account" }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.error || 'Referido no encontrado' }) }}",
        "options": {
          "responseCode": "404"
        }
      },
      "name": "Respond Not Found",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [920, 400]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Read Referrals", "type": "main", "index": 0 }]] },
    "Read Referrals": { "main": [[{ "node": "Find and Process", "type": "main", "index": 0 }]] },
    "Find and Process": { "main": [[{ "node": "Found?", "type": "main", "index": 0 }]] },
    "Found?": {
      "main": [
        [{ "node": "Update Row", "type": "main", "index": 0 }],
        [{ "node": "Respond Not Found", "type": "main", "index": 0 }]
      ]
    },
    "Update Row": { "main": [[{ "node": "Append Activity", "type": "main", "index": 0 }]] },
    "Append Activity": { "main": [[{ "node": "Is Closed?", "type": "main", "index": 0 }]] },
    "Is Closed?": {
      "main": [
        [{ "node": "Append to Archive", "type": "main", "index": 0 }],
        [{ "node": "Respond OK", "type": "main", "index": 0 }]
      ]
    },
    "Append to Archive": { "main": [[{ "node": "Delete from Referrals", "type": "main", "index": 0 }]] },
    "Delete from Referrals": { "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]] },
    "Respond OK": { "main": [[{ "node": "Stage Changed?", "type": "main", "index": 0 }]] },
    "Stage Changed?": { "main": [[{ "node": "Email Registrador", "type": "main", "index": 0 }, { "node": "Email Referido", "type": "main", "index": 0 }], []] }
  },
  "settings": { "executionOrder": "v1" }
}
