workflows/workflow-b-new-referral.json
{
  "name": "Referral CRM - POST New Referral",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "referral-new",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "webhookId": "referral-new"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1MOeVop7Ci7F117GjUe7rlmq8aMx8jgmByFooavORUCM/values/Users!A:E",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {}
      },
      "name": "Read Users",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        260,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ijhDM45kmOOEzqzs",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1MOeVop7Ci7F117GjUe7rlmq8aMx8jgmByFooavORUCM/values/Referrals!A:A",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {}
      },
      "name": "Read Referral IDs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ijhDM45kmOOEzqzs",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const body = $('Webhook').first().json.body;\nconst usersData = $('Read Users').first().json;\nconst idsData = $('Read Referral IDs').first().json;\n\n// Calcular siguiente ID\nconst idRows = (idsData.values || []).slice(1);\nlet maxId = 0;\nfor (const row of idRows) {\n  const id = parseInt(row[0]);\n  if (!isNaN(id) && id > maxId) maxId = id;\n}\nconst newId = maxId + 1;\n\n// Buscar nombre del owner\nconst userRows = (usersData.values || []).slice(1);\nlet ownerNombre = '';\nfor (const row of userRows) {\n  if (row[1] === body.ownerEmail) {\n    ownerNombre = row[0];\n    break;\n  }\n}\n\nconst timestamp = new Date().toISOString();\n\n// Mensaje personalizado por empresa\nconst mensajes = {\n  'La Hacienda La Palma y el Tucan': {\n    titulo: 'La Hacienda La Palma y el Tucan',\n    color: '#2d5016',\n    intro: 'Gracias por tu interes en <strong>La Hacienda La Palma y el Tucan</strong>, donde redefinimos la produccion de cafe especial en Colombia a traves de un enfoque holistico que conecta la tradicion cafetera con la innovacion.',\n    destaque: 'Cultivamos y procesamos varietales excepcionales como <strong>Gesha, Sidra y SL-28</strong> bajo practicas regenerativas. Nuestro cafe ha alcanzado precios record de hasta <strong>$303 USD por libra</strong> y fue el cafe con el que se gano el <strong>World Barista Championship 2019</strong>. Experimentamos con procesos innovadores como la fermentacion con microorganismos de nuestro propio ecosistema.',\n    cierre: 'Nuestro equipo te contactara para explorar como podemos crear valor juntos a traves de nuestro cafe premium y nuestras practicas regenerativas.'\n  },\n  'La Palma y el Tucan Hotel': {\n    titulo: 'La Palma y el Tucan Hotel',\n    color: '#5c3a1e',\n    intro: 'Gracias por tu interes en <strong>La Palma y el Tucan Hotel</strong>, un refugio donde la naturaleza y el aprendizaje se entrelazan en Zipacon, Cundinamarca.',\n    destaque: 'Ofrecemos alojamientos unicos en <strong>cabanas inmersas en cafetales</strong> con experiencias de cafe que promueven la desconexion y el bienestar. Calificados <strong>5.0/5.0 en TripAdvisor</strong> y <strong>9.5/10 en Booking</strong>. Hemos hospedado eventos corporativos para empresas como Skandia Colombia y ofrecemos tours de cafe, clases de barista, yoga y spa.',\n    cierre: 'Nuestro equipo te contactara para disenar una experiencia a tu medida, ya sea una escapada, un evento corporativo o una celebracion especial en un entorno sostenible.'\n  },\n  'Libertario Coffee Roasters': {\n    titulo: 'Libertario Coffee Roasters',\n    color: '#1a1a2e',\n    intro: 'Gracias por tu interes en <strong>Libertario Coffee Roasters</strong>, nuestra marca de cafe premium comprometida con experiencias excepcionales a traves de la calidad, la sostenibilidad y el impacto comunitario.',\n    destaque: 'Nuestro nombre refleja la libertad de explorar y disfrutar del cafe en su forma mas pura. Ofrecemos <strong>cafe tostado, espresso, filtrados, cold brew y reposteria artesanal</strong>. Con presencia en <strong>Bogota, Cartagena, San Jose de Costa Rica y Ciudad de Mexico</strong>. Promovemos el \"Pasillo Libertario\" para dar visibilidad a emprendimientos colombianos.',\n    cierre: 'Nuestro equipo te contactara para explorar oportunidades de colaboracion, ya sea como aliado comercial, proveedor o socio estrategico.'\n  },\n  'Futura Coffee Roasters': {\n    titulo: 'Futura Coffee Roasters',\n    color: '#3d2b1f',\n    intro: 'Gracias por tu interes en <strong>Futura Coffee Roasters</strong>, nuestra tostadora de cafe de especialidad dedicada a la calidad excepcional y la regeneracion del suelo.',\n    destaque: 'Basados en <strong>Estados Unidos</strong>, unimos la calidad del cafe con la regeneracion del suelo. Transformamos la cultura del cafe en experiencias cotidianas y accesibles en coffee shops que combinan diseno contemporaneo con baristas apasionados. Con presencia en <strong>Portland, Oregon y Amherst, Massachusetts</strong>.',\n    cierre: 'Nuestro equipo te contactara para explorar como podemos trabajar juntos y llevar el cafe de especialidad regenerativo a mas personas.'\n  },\n  'Equation Coffee': {\n    titulo: 'Equation Coffee',\n    color: '#2c3e50',\n    intro: 'Gracias por tu interes en <strong>Equation Coffee</strong>, donde impulsamos la conexion global entre productores de cafe y mercados internacionales.',\n    destaque: 'Somos importadores y exportadores de <strong>cafes especiales</strong>, garantizando una cadena de suministro sostenible y responsable. Regeneramos suelos y fortalecemos relaciones en la cadena de valor del cafe, ofreciendo productos de calidad con <strong>transparencia y trazabilidad total</strong>.',\n    cierre: 'Nuestro equipo te contactara para conversar sobre como conectar tu negocio con los mejores cafes de especialidad del ecosistema Green Hub.'\n  },\n  'Delagua Coffee Paradise': {\n    titulo: 'Delagua Coffee Paradise',\n    color: '#1a6b8a',\n    intro: 'Gracias por tu interes en <strong>Delagua Coffee Paradise</strong>, donde cultivamos y procesamos cafe de especialidad con un profundo cuidado del agua y el medio ambiente.',\n    destaque: 'Nuestros metodos de procesamiento <strong>minimizan la huella hidrica</strong>, promoviendo la responsabilidad ecologica en cada taza. Creemos que el mejor cafe nace cuando se respeta cada recurso natural involucrado en su produccion.',\n    cierre: 'Nuestro equipo te contactara para explorar como nuestro cafe consciente con el agua puede aportar valor a tu proyecto.'\n  },\n  'Creativa Coffee District': {\n    titulo: 'Creativa Coffee District',\n    color: '#6b3fa0',\n    intro: 'Gracias por tu interes en <strong>Creativa Coffee District</strong>, un proyecto unico que fusiona la produccion sostenible de cafe con el arte como agente de cambio.',\n    destaque: 'Creamos un espacio donde <strong>la creatividad florece</strong> conectando cultura, arte y produccion sostenible de cafe. Creemos que el arte tiene el poder de transformar comunidades y que el cafe es el vehiculo perfecto para esa transformacion.',\n    cierre: 'Nuestro equipo te contactara para explorar como podemos crear juntos experiencias que conecten cafe, arte y sostenibilidad.'\n  },\n  'Flying Pumas Coffee': {\n    titulo: 'Flying Pumas Coffee',\n    color: '#b8860b',\n    intro: 'Gracias por tu interes en <strong>Flying Pumas Coffee</strong>, un proyecto pionero de cafe ubicado en las montanas de <strong>Chiriqui, Panama</strong>.',\n    destaque: 'Combinamos un cultivo excepcional de cafe con un firme compromiso ambiental. Nuestra mision es producir cafe de alta calidad mientras <strong>protegemos el ecosistema local y la fauna</strong>, particularmente los majestuosos pumas y jaguares que habitan la region. Contamos con <strong>22 lotes de cultivo</strong> en un entorno natural privilegiado.',\n    cierre: 'Nuestro equipo te contactara para conversar sobre como nuestro cafe de Panama con proposito puede ser parte de tu historia.'\n  },\n  'Biodiversal': {\n    titulo: 'Biodiversal S.A.S. BIC',\n    color: '#228b22',\n    intro: 'Gracias por tu interes en <strong>Biodiversal</strong>, nuestra empresa gestora de proyectos de agricultura regenerativa, constituida como Sociedad de Beneficio e Interes Colectivo.',\n    destaque: 'Nuestra mision es elevar la caficultura a un <strong>modelo resiliente de agricultura regenerativa</strong>. Impulsamos la produccion de productos agroecologicos mediante investigacion, co-inversion de impacto, asistencia tecnica y conexion con mercados. Producimos <strong>fertilizantes organicos</strong> (bioreactor, pirolizador, harina de rocas, NPK).',\n    cierre: 'Nuestro equipo te contactara para explorar como las practicas regenerativas pueden transformar tu proyecto agricola.'\n  },\n  'Cirkular Agro': {\n    titulo: 'Cirkular Agro',\n    color: '#0d7377',\n    intro: 'Gracias por tu interes en <strong>Cirkular Agro</strong>, donde impulsamos la transformacion hacia una economia regenerativa mediante soluciones financieras innovadoras.',\n    destaque: 'Proporcionamos a pequenos agricultores los insumos, asistencia tecnica y herramientas para su transicion a la <strong>agricultura regenerativa</strong>. Creamos valor a traves del mercado de <strong>creditos de carbono</strong> y nuestro proyecto <strong>Coffee Biochar</strong> transforma residuos del cafetal en insumos regenerativos para el suelo.',\n    cierre: 'Nuestro equipo te contactara para explorar como las soluciones financieras regenerativas pueden potenciar tu proyecto.'\n  },\n  'The Coffee Hub': {\n    titulo: 'The Coffee Hub',\n    color: '#4a4a4a',\n    intro: 'Gracias por tu interes en <strong>The Coffee Hub</strong>, la plataforma operativa central del ecosistema Green Hub.',\n    destaque: 'Gestionamos <strong>operaciones compartidas, talento humano y recursos</strong> entre las 12 marcas del grupo. Somos el nucleo desde donde se coordinan las actividades de calidad, logistica y capital humano para todo el ecosistema.',\n    cierre: 'Nuestro equipo te contactara para conversar sobre como podemos colaborar desde el corazon operativo del grupo.'\n  },\n  'Radikal Food Club': {\n    titulo: 'Radikal Food Club',\n    color: '#c62828',\n    intro: 'Gracias por tu interes en <strong>Radikal Food Club</strong>, la propuesta gastronomica del ecosistema Green Hub.',\n    destaque: 'En Radikal fusionamos la <strong>gastronomia con la sostenibilidad</strong>, llevando la filosofia del ecosistema Green Hub a la mesa. Somos parte de un grupo de 12 empresas dedicadas a la regeneracion ambiental y la innovacion, con presencia en Colombia, Panama, Estados Unidos, Costa Rica y Mexico.',\n    cierre: 'Nuestro equipo te contactara para explorar como podemos colaborar y crear experiencias gastronomicas con proposito.'\n  },\n  'Green Hub': {\n    titulo: 'El Green Hub - Ecosistema Empresarial',\n    color: '#123840',\n    intro: 'Gracias por tu interes en <strong>El Green Hub</strong>, un ecosistema de <strong>12 empresas</strong> dedicado a la regeneracion ambiental y la sostenibilidad.',\n    destaque: 'Con <strong>14 anos de innovacion</strong>, impactamos a <strong>1,617 familias</strong> con 346 empleados en Colombia, Panama, Estados Unidos, Costa Rica y Mexico. Conectamos proyectos de agricultura regenerativa, cafe de especialidad, economia circular y conservacion de la biodiversidad. Nuestra mision: dejar un planeta biodiverso y habitable para las futuras generaciones.',\n    cierre: 'Nuestro equipo te contactara para identificar como tu perfil encaja mejor en nuestro ecosistema y como podemos generar oportunidades juntos.'\n  }\n};\n\nconst empresa = body.empresa || '';\nconst msg = mensajes[empresa] || {\n  titulo: empresa || 'Green Hub',\n  color: '#123840',\n  intro: 'Gracias por tu interes en <strong>' + (empresa || 'nuestro ecosistema') + '</strong>, parte del grupo empresarial Green Hub.',\n  destaque: 'Formamos parte de un ecosistema de 12 empresas enfocadas en sostenibilidad, innovacion y excelencia.',\n  cierre: 'Nuestro equipo te contactara proximamente para conversar sobre como podemos trabajar juntos.'\n};\n\nreturn [{ json: {\n  newId,\n  ownerNombre,\n  timestamp,\n  body,\n  mensajeEmpresa: msg,\n  row: [\n    newId,\n    timestamp,\n    body.empresa || '',\n    body.tipoReferido || '',\n    body.nombre || '',\n    body.empresaReferido || '',\n    body.email || '',\n    body.telefono || '',\n    body.pais || '',\n    body.linkedin || '',\n    body.objetivo || '',\n    body.valorPotencial || '',\n    body.ownerEmail || '',\n    ownerNombre,\n    body.tuEmail || '',\n    body.tuNombre || '',\n    'Nuevo',\n    timestamp,\n    '',\n    '',\n    '',\n    '',\n    body.notas || '',\n    '0'\n  ],\n  activityRow: [\n    timestamp,\n    newId,\n    body.tuNombre + ' (' + body.tuEmail + ')',\n    '',\n    'Nuevo',\n    'Referido registrado via landing page',\n    ''\n  ]\n}}];"
      },
      "name": "Process Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1MOeVop7Ci7F117GjUe7rlmq8aMx8jgmByFooavORUCM/values/Referrals!A:X:append?valueInputOption=USER_ENTERED",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"values\": [{{ JSON.stringify($json.row) }}] }",
        "options": {}
      },
      "name": "Append Referral",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ijhDM45kmOOEzqzs",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1MOeVop7Ci7F117GjUe7rlmq8aMx8jgmByFooavORUCM/values/Activity%20Log!A:G:append?valueInputOption=USER_ENTERED",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"values\": [{{ JSON.stringify($('Process Data').first().json.activityRow) }}] }",
        "options": {}
      },
      "name": "Append Activity Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ijhDM45kmOOEzqzs",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, id: $('Process Data').first().json.newId, ownerNombre: $('Process Data').first().json.ownerNombre }) }}",
        "options": {}
      },
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1360,
        300
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Process Data').first().json.body.ownerEmail }}",
        "subject": "=Nuevo Referido Asignado - #{{ $('Process Data').first().json.newId }} {{ $('Process Data').first().json.body.nombre }}",
        "message": "=<div style='font-family:Arial,sans-serif;max-width:650px;margin:0 auto'><div style='background:#123840;color:#fff;padding:20px 24px;border-radius:12px 12px 0 0'><h1 style='margin:0;font-size:20px'>Nuevo Referido Asignado a Ti</h1><p style='margin:4px 0 0;opacity:0.8;font-size:14px'>ID #{{ $('Process Data').first().json.newId }} - Contactar en las proximas 72 horas</p></div><div style='padding:20px 24px;background:#f0faf5'><table style='width:100%;border-collapse:collapse;font-size:14px'><tr><td style='padding:8px;font-weight:bold;color:#123840;width:40%'>Nombre</td><td style='padding:8px'>{{ $('Process Data').first().json.body.nombre }}</td></tr><tr style='background:#fff'><td style='padding:8px;font-weight:bold;color:#123840'>Empresa donde trabaja</td><td style='padding:8px'>{{ $('Process Data').first().json.body.empresaReferido || 'No especificada' }}</td></tr><tr><td style='padding:8px;font-weight:bold;color:#123840'>Email</td><td style='padding:8px'>{{ $('Process Data').first().json.body.email }}</td></tr><tr style='background:#fff'><td style='padding:8px;font-weight:bold;color:#123840'>Telefono</td><td style='padding:8px'>{{ $('Process Data').first().json.body.telefono || 'No proporcionado' }}</td></tr><tr><td style='padding:8px;font-weight:bold;color:#123840'>Empresa del Grupo</td><td style='padding:8px'>{{ $('Process Data').first().json.body.empresa }}</td></tr><tr style='background:#fff'><td style='padding:8px;font-weight:bold;color:#123840'>Tipo de Referido</td><td style='padding:8px'>{{ $('Process Data').first().json.body.tipoReferido }}</td></tr><tr><td style='padding:8px;font-weight:bold;color:#123840'>Pais</td><td style='padding:8px'>{{ $('Process Data').first().json.body.pais }}</td></tr><tr style='background:#fff'><td style='padding:8px;font-weight:bold;color:#123840'>LinkedIn</td><td style='padding:8px'>{{ $('Process Data').first().json.body.linkedin || 'No proporcionado' }}</td></tr><tr><td style='padding:8px;font-weight:bold;color:#123840'>Objetivo</td><td style='padding:8px'>{{ $('Process Data').first().json.body.objetivo }}</td></tr><tr style='background:#fff'><td style='padding:8px;font-weight:bold;color:#123840'>Valor Potencial</td><td style='padding:8px'>${{ $('Process Data').first().json.body.valorPotencial || 'No estimado' }} USD</td></tr><tr><td style='padding:8px;font-weight:bold;color:#123840'>Notas</td><td style='padding:8px'>{{ $('Process Data').first().json.body.notas || 'Ninguna' }}</td></tr><tr style='background:#fff'><td style='padding:8px;font-weight:bold;color:#123840'>Registrado por</td><td style='padding:8px'>{{ $('Process Data').first().json.body.tuNombre }} ({{ $('Process Data').first().json.body.tuEmail }})</td></tr></table></div><div style='padding:20px 24px;background:#fff;border-left:4px solid #47a179'><h3 style='margin:0 0 12px;color:#123840;font-size:16px'>Tips para el Primer Contacto</h3><ol style='margin:0;padding:0 0 0 20px;font-size:13px;color:#333;line-height:1.8'><li><strong>Tomate tu tiempo para preparar el contacto.</strong> Revisa el contexto, entiende la oportunidad y acercate cuando tengas algo de valor que ofrecer.</li><li><strong>Investiga antes de llamar.</strong> Revisa su LinkedIn, empresa y contexto para personalizar tu mensaje.</li><li><strong>Empieza con preguntas abiertas.</strong> Ej: \"Que desafios enfrentas actualmente en...?\" Escucha mas de lo que hablas.</li><li><strong>Conecta su necesidad con la solucion.</strong> No vendas el producto, resuelve su problema especifico.</li><li><strong>Cierra con un paso concreto.</strong> Ej: \"Te parece si agendamos 20 min para mostrarte como funciona?\"</li></ol></div><div style='padding:20px 24px;background:#f9f9f9'><h3 style='margin:0 0 12px;color:#123840;font-size:16px'>Manejo de Objeciones Comunes</h3><table style='width:100%;border-collapse:collapse;font-size:13px'><tr><td style='padding:10px;background:#fdf0ef;border-radius:6px;vertical-align:top;width:35%'><strong style='color:#e74c3c'>\"No tengo tiempo\"</strong></td><td style='padding:10px;vertical-align:top'>\"Entiendo perfectamente. Por eso quiero ser breve y directo. Solo necesito 15 minutos para mostrarte como esto te puede ahorrar tiempo a largo plazo.\"</td></tr><tr><td style='padding:10px;background:#fdf0ef;border-radius:6px;vertical-align:top'><strong style='color:#e74c3c'>\"Ya tengo proveedor\"</strong></td><td style='padding:10px;vertical-align:top'>\"Excelente. No busco reemplazarlo, sino mostrarte una opcion complementaria que varios clientes en tu sector ya estan usando con muy buenos resultados.\"</td></tr><tr><td style='padding:10px;background:#fdf0ef;border-radius:6px;vertical-align:top'><strong style='color:#e74c3c'>\"Es muy costoso\"</strong></td><td style='padding:10px;vertical-align:top'>\"Lo entiendo. Muchos clientes lo veian asi al principio, pero al ver el retorno en tiempo y resultados, lo consideran una inversion. Te muestro los numeros?\"</td></tr><tr><td style='padding:10px;background:#fdf0ef;border-radius:6px;vertical-align:top'><strong style='color:#e74c3c'>\"Dejame pensarlo\"</strong></td><td style='padding:10px;vertical-align:top'>\"Claro, es una decision importante. Que informacion adicional necesitas para decidir? Te la preparo y la revisamos juntos.\"</td></tr></table></div><div style='padding:20px 24px;background:#fff'><h3 style='margin:0 0 12px;color:#123840;font-size:16px'>Estrategia de Seguimiento</h3><ul style='margin:0;padding:0 0 0 20px;font-size:13px;color:#333;line-height:1.8'><li><strong>Dia 1-2:</strong> Primer contacto (llamada o email personalizado)</li><li><strong>Dia 3-4:</strong> Si no contesto, segundo intento por otro canal</li><li><strong>Dia 7:</strong> Enviar contenido de valor (caso de exito, articulo relevante)</li><li><strong>Dia 14:</strong> Ultimo contacto con mensaje de valor y puerta abierta</li></ul></div><div style='padding:16px 24px;background:#123840;border-radius:0 0 12px 12px;text-align:center'><p style='margin:0;font-size:12px;color:rgba(255,255,255,0.7)'>Green Hub Referral CRM - Cada referido es una oportunidad</p></div></div>",
        "options": {}
      },
      "name": "Email Owner",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1580,
        200
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "34ae23XNAsWrUf5I",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Process Data').first().json.body.tuEmail }}",
        "subject": "=Confirmacion - Referido #{{ $('Process Data').first().json.newId }} registrado exitosamente",
        "message": "=<div style='font-family:Arial,sans-serif;max-width:600px;margin:0 auto'><div style='background:#123840;color:#fff;padding:20px 24px;border-radius:12px 12px 0 0'><h1 style='margin:0;font-size:18px'>Referido Registrado Exitosamente</h1></div><div style='padding:20px 24px'><p style='font-size:15px;color:#333'>Hola {{ $('Process Data').first().json.body.tuNombre }},</p><p style='font-size:14px;color:#555;line-height:1.6'>Tu referido fue registrado correctamente en el sistema.</p><table style='width:100%;border-collapse:collapse;font-size:14px;margin:16px 0'><tr style='background:#f0faf5'><td style='padding:10px;font-weight:bold;color:#123840'>ID del Referido</td><td style='padding:10px'><strong>#{{ $('Process Data').first().json.newId }}</strong></td></tr><tr><td style='padding:10px;font-weight:bold;color:#123840'>Nombre</td><td style='padding:10px'>{{ $('Process Data').first().json.body.nombre }}</td></tr><tr style='background:#f0faf5'><td style='padding:10px;font-weight:bold;color:#123840'>Asignado a</td><td style='padding:10px'>{{ $('Process Data').first().json.ownerNombre }} ({{ $('Process Data').first().json.body.ownerEmail }})</td></tr></table><p style='font-size:13px;color:#555;line-height:1.6'>El responsable ya fue notificado y dara seguimiento. Guarda el <strong>ID #{{ $('Process Data').first().json.newId }}</strong> para consultar o actualizar el estado del referido.</p></div><div style='padding:16px 24px;background:#f5f5f5;border-radius:0 0 12px 12px;text-align:center'><p style='margin:0;font-size:11px;color:#999'>Green Hub Referral CRM</p></div></div>",
        "options": {}
      },
      "name": "Email Registrador",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1580,
        400
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "34ae23XNAsWrUf5I",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Process Data').first().json.body.email }}",
        "subject": "=Green Hub - Hemos recibido tu referencia",
        "message": "=<div style='font-family:Arial,sans-serif;max-width:620px;margin:0 auto;border:1px solid #e0e0e0;border-radius:12px;overflow:hidden'><div style='background:{{ $('Process Data').first().json.mensajeEmpresa.color }};color:#fff;padding:28px 24px;text-align:center'><h1 style='margin:0;font-size:22px;font-weight:bold'>{{ $('Process Data').first().json.mensajeEmpresa.titulo }}</h1><p style='margin:8px 0 0;opacity:0.85;font-size:13px'>Ecosistema Green Hub</p></div><div style='padding:28px 24px'><p style='font-size:16px;color:#333;margin:0 0 20px'>Hola <strong>{{ $('Process Data').first().json.body.nombre }}</strong>,</p><p style='font-size:14px;color:#555;line-height:1.8;margin:0 0 16px'>{{ $('Process Data').first().json.mensajeEmpresa.intro }}</p><div style='background:linear-gradient(135deg,#f0faf5,#e8f5e9);border-left:4px solid #47a179;padding:18px 20px;margin:20px 0;border-radius:0 10px 10px 0'><p style='margin:0;font-size:14px;color:#1a3a2a;line-height:1.7'>{{ $('Process Data').first().json.mensajeEmpresa.destaque }}</p></div><p style='font-size:14px;color:#555;line-height:1.8;margin:16px 0'>{{ $('Process Data').first().json.mensajeEmpresa.cierre }}</p><div style='background:#fafafa;border-radius:8px;padding:16px;margin:24px 0;border:1px solid #eee'><p style='margin:0 0 8px;font-size:13px;color:#888;font-weight:bold;text-transform:uppercase;letter-spacing:0.5px'>Proximos pasos</p><table style='width:100%;font-size:13px;color:#555'><tr><td style='padding:6px 0;vertical-align:top;width:30px'><span style='background:#47a179;color:#fff;border-radius:50%;width:22px;height:22px;display:inline-block;text-align:center;line-height:22px;font-size:11px;font-weight:bold'>1</span></td><td style='padding:6px 8px'>Un miembro de nuestro equipo te contactara en las <strong>proximas 48 horas</strong></td></tr><tr><td style='padding:6px 0;vertical-align:top'><span style='background:#47a179;color:#fff;border-radius:50%;width:22px;height:22px;display:inline-block;text-align:center;line-height:22px;font-size:11px;font-weight:bold'>2</span></td><td style='padding:6px 8px'>Conversaremos sobre tus necesidades y como podemos ayudarte</td></tr><tr><td style='padding:6px 0;vertical-align:top'><span style='background:#47a179;color:#fff;border-radius:50%;width:22px;height:22px;display:inline-block;text-align:center;line-height:22px;font-size:11px;font-weight:bold'>3</span></td><td style='padding:6px 8px'>Disenaremos juntos la mejor solucion para ti</td></tr></table></div><p style='font-size:14px;color:#555;margin:20px 0 4px'>Si tienes alguna pregunta, responde directamente a este correo.</p><p style='font-size:14px;color:#555;margin:16px 0 0'>Cordialmente,</p><p style='font-size:15px;color:#123840;font-weight:bold;margin:4px 0 0'>Equipo Green Hub</p></div><div style='padding:16px 24px;background:#f5f5f5;border-top:1px solid #e0e0e0;text-align:center'><p style='margin:0;font-size:11px;color:#999'>Green Hub - Grupo Empresarial | Cafe de Especialidad | Sostenibilidad</p></div></div>",
        "options": {}
      },
      "name": "Email Referido",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1580,
        600
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "34ae23XNAsWrUf5I",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Read Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Users": {
      "main": [
        [
          {
            "node": "Read Referral IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Referral IDs": {
      "main": [
        [
          {
            "node": "Process Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Data": {
      "main": [
        [
          {
            "node": "Append Referral",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Referral": {
      "main": [
        [
          {
            "node": "Append Activity Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Activity Log": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond OK": {
      "main": [
        [
          {
            "node": "Email Owner",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email Registrador",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email Referido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}